// Colors 

$white: #fff;

$color-primary: #58e1c1; // main teal color
$color-secondary: #51ddfc; // darker teal
$img-frame-border: #ccc; // gray?
$base-font: #777; // blackish?

// Media query breakpoint

$brk-screen: '(max-width: 768px)';