/* ============================================= */
/*              Images                           */
/* ============================================= */

.img-avatar {
    @extend %d-margin;
    margin-top: 10px;
    max-width: 100%; 
    max-height: 100%;
  }
  
  .img-frame {
    @extend %d-margin;
    margin-top: 10px;
    max-width: 100%;
    padding: 13px;
    border: 1px solid $img-frame-border;
  }
  
  .img-logo {
    @extend %d-margin;
  }
  
  